/*parte comun*/

.coloresprimarios {

    background-color:#BDE0FF;
    color:#FFFFFF;


}





/*partee comun*/

/*parte publica*/




body#cuerpopartepublica {
}


header#cabeceracontenidopartepublica {

}


section#seccionpartepublica {




}    

footer#piepartepublica {

}
@media (max-width: 767px) {

    h1#cabeceraprincipalpartepublica {

        font-size:1.4em;
        font-weight:bolder;


    }

    small#textopiepartepublica {

        font-size:0.5em;

    }
    
    
       h3.subcabeceracontroles {
        
        font-size:0.6em;
        
    }
    

}    






@media (min-width: 768px) and (max-width: 991px) {

    h1#cabeceraprincipalpartepublica {


        font-weight:bolder;   font-weight:bolder;


    }

    small#textopiepartepublica {

        font-size:0.5em;

    }

   h3.subcabeceracontroles {
        
        font-size:0.6em;
        
    }



}  





@media (min-width: 992px) and (max-width: 1199px) {

    h1#cabeceraprincipalpartepublica {




        font-weight:bolder;

    }



    small#textopiepartepublica {

        font-size:0.5em;

    }
 h3.subcabeceracontroles {
        
        font-size:1em;
        
    }



}




@media (min-width: 1200px) {


    h1#cabeceraprincipalpartepublica {


        font-size:5em;
        font-weight:bolder;


    }


    small#textopiepartepublica {

        font-size:0.8em;

    }


}
/*parte publica*/
/*parte intranet*/
body#cuerpoparteintranet {

}


header#cabeceracontenidoparteintranet {

}


nav#navegacionparteintranet {



}


footer#pieparteintranet{


}
@media (max-width: 767px) {

    h1#cabeceraprincipalparteintranet {

        font-size:1.4em;
        font-weight:bolder;


    }

    small#textopieparteintranet{

        font-size:0.5em;

    }


    section#seccionparteintranet {
        padding-top: 2%;
        padding-bottom: 25%;
    }    


}    






@media (min-width: 768px) and (max-width: 991px) {

    h1#cabeceraprincipalparteintranet {


        font-weight:bolder;   font-weight:bolder;


    }

    small#textopieparteintranet {

        font-size:0.5em;

    }


    section#seccionparteintranet {
        padding-top: 2%;
        padding-bottom: 9%;
    }    



}  





@media (min-width: 992px) and (max-width: 1199px) {

    h1#cabeceraprincipalparteintranet {




        font-weight:bolder;

    }



    small#textopieparteintranet{

        font-size:0.5em;

    }

    section#seccionparteintranet {
        padding-top:2%;
        padding-bottom: 8%;
    }    


}




@media (min-width: 1200px) {


    h1#cabeceraprincipalintranet {


        font-size:5em;
        font-weight:bolder;


    }


    small#textopiepartepublica {

        font-size:0.8em;

    }

    section#seccionparteintranet {
        padding-top:2%;
        padding-bottom: 8%;
    }    

}

/*parte intranet*/


/*parte intranet*/

/*modificado boostrap*/



/*modificado boostrap*/







